// The button classes are best applied to links, buttons, and submit inputs.
// These components can be used in forms, as calls to action, or as part of the
// general UI of the site/app.
//
// .btn--primary - Main call to action
// .btn--secondary - Secondary call to action and for generic buttons
// .btn--inverse - Inverse style button for reverse backgrounds or negative actions
// .btn--transparent - Transparent button. When you need a button on a dark background with the dimensions of a button but with no background. Used for "Add" button in bundles in R&S
// .btn--uppercase - Uppercase text
// .btn--small - Smaller variation
// .btn--medium - Slightly larger
// .btn--large - Much larger
// .btn--panel - Square panel button. Used for accordians and other UI elements
// .btn--narrow - Narrow button style. Usually applied when styling buttons with icons
// .btn--wide - For consistent call to action sizes
// .btn--full - Full-width button. This is usually used in smaller columns where it makes sense to have the button span the full width of the column.
// .btn--shadow - Adds a drop-shadow to the button. Used on dark backgrounds
// .btn--info - Button used to show more information. Used with JS components to show and hide content.
// .btn--bordered - Bordered buttons. Used to make a button more important without increasing it's size or colour
//
// Styleguide 1.1

@function button-image-url($path) {
  @return component-url('nib-styles-common', "local/buttons/images/#{$path}");
}


.btn {
  $primary: $green;
  $shadow: darken($primary, 5%);
  $highlight: lighten($primary, 10%);

  @include improve-text-rendering;
  @include border-box;

  background: none;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 1.3em;
  font-family: $font-family-roboto;
  outline: none;
  padding: 0 spacing(1) 2px;
  position: relative;
  text-align: center;
  text-decoration: none;

  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.btn--medium {
    line-height: baseline(2) - 2px;
  }

  &:active {
    color: #fff;
    box-shadow: none;
    position: relative;
    top: 2px;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  // Remove excess padding and border in Firefox 4+
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  // Buttons with icons require a 16x16 icon to be used
  i {
    display: inline-block;
    margin-top: -3px;

    &:first-child {
      margin-right: 3px;
    }
    &:last-child {
      margin-left: 3px;
    }
  }
}

// Uppercase style
// @modifier
.btn--uppercase {
  text-transform: uppercase;
}

.btn--transparent {
  @include transition(opacity 0.2s);
  line-height: baseline(1.5);
  padding: 0 $spacing-normal;
  border: 0;
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  text-shadow: none;
  box-shadow: none;
  &:hover,
  &:active {
    opacity: 1;
    background: transparent;
  }
  i {
    margin-top: -3px;
  }
}

// Primary button
// @modifier
.btn--primary {
  $primary: $orange;
  $shadow: darken($primary, 10%);
  $highlight: adjust-hue($primary, 3deg);

  background: $primary;
  border: 1px solid rgba(#000, 0.2);
  color: #fff !important;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(#000, 0.4);
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;

  &:active,
  &:hover {
    background: $highlight;
  }

  &:after {
    background: rgba(#000, 0.3);
    bottom: -1px;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 -1px;
    position: absolute;
    right: 0;
  }
}

// Lighter button style
.btn--secondary {
  @extend .btn--primary;

  $primary: $green;
  $shadow: darken($primary, 10%);
  $highlight: lighten($primary, 3);

  background: $primary;

  &:active,
  &:hover {
    background: $highlight;
  }
}

// Lighter button style
.btn--tertiary {
  @extend .btn--primary;

  $primary: $blue-lightest;
  $shadow: darken($primary, 10%);
  $highlight: lighten($primary, 3);

  background: $primary;

  &:active,
  &:hover {
    background: $highlight;
  }
}

// Smaller button
// @modifier
.btn--small {
  font-size: 11px;
  line-height: baseline(1.25);
  &.btn--narrow {
    padding-left: 7px;
    padding-right: 7px;
  }
  &.btn--uppercase {
    font-size: 10px;
  }
}

// Slightly larger button
// @modifier
.btn--medium {
  font-size: 16px;
  line-height: baseline(2);
  &.btn--wide {
    min-width: 170px;
  }
  .icon-circle-white-arrow-right {
    top: 2px;
  }
}

// Larger button
// @modifier
.btn--large {
  font-size: 20px;
  line-height: baseline(2.2) !important;
  font-weight: normal;
  padding-left: spacing(2);
  padding-right: spacing(2);
}

// Full-width button
// @modifier
.btn--full {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  .lt-ie8 & {
    width: auto;
  }
}

.btn--narrow {
  padding: 0 12px;
}

.btn--wide {
  min-width: 100px;
}

// Button with only an icon and no text. Use buttons as normal but
// wrap the button text in a span and add an icon inside. Placing
// the icon before or after the text will determine it's position
//
// Styleguide 1.2.0
.btn--icon {
  padding-left: $spacing-small;
  padding-right: $spacing-small;
}

.btn--icon-text {
  text-align: left;
}

.btn--shadow {
  box-shadow: 0 0 10px rgba(#000, 0.3);
  border: 0;
}

.btn--info {
  @extend .btn--secondary;
  @extend .btn--small;
  border-radius: 0;
  line-height: 20px;
  padding: 0 10px;

  &.is-active {
    &:after {
      @extend .icon-circle-chevron-small-up;
    }
  }

  &:after {
    @include show-pseudo-element;
    @extend .icon-circle-chevron-small-down;
    position: relative;
    right: -3px;
    top: -1px;
  }
}

.btn--dark {
  //background: $dark-grey;
  color: #fff;
  box-shadow: 0 0 0 5px rgba($grey, 0.2);
  text-shadow: none;
  border: 0;
  &:hover {
    //background: lighten($dark-grey, 5%);
  }
}

.btn--bordered {
  box-shadow: 0 1px 0 rgba(#fff, 0.5) inset, 0 1px 0 rgba(#000, 0.1), 0 0 0 5px rgba($grey, 0.2);
}

.btn--bordered-light {
  box-shadow: 0 1px 0 rgba(#fff, 0.5) inset, 0 1px 0 rgba(#000, 0.1), 0 0 0 5px rgba(#fff, 0.1);
}


.form-text-trigger {
  line-height: 32px;
  cursor: pointer;
}

.form-text-trigger-lrg {
  @extend .form-text-trigger;
  line-height: spacing(4);
  font-size: 18px;
}

// Styles a radio input to look like a button
// Uses the :checked state to modify the look of the button
// @block
// @section 2.1
.btn-group {
  &.is-active {
    .btn-group__inactive {
      display: none;
    }
    .btn-group__active {
      display: inline-block;
    }
  }
  .btn-group__active {
    display: none;
  }
}